RewriteEngine On
RewriteBase /secret/


RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

## Redirect from extensions to non-extensions
RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?] [NC]
RewriteRule ^ /%1 [R=301,NE,L]

## Protect A File
<Files admin.php>
AuthName "Access to Admin File"
AuthType Basic
AuthUserFile C:\xampp\htdocs\todo\secret\.htpasswd
Require valid-user
</Files>

## Protect A Directory
AuthName "Access to Admin Directory"
AuthType Basic
AuthUserFile C:\xampp\htdocs\todo\secret\.htpasswd
Require valid-user

## Error page for unauthorized
ErrorDocument 401 /todo/errors/401.html